@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}

header nav{
	display: flex;
	background-color: #ffd674;
	height: 50px;
	align-items: center;	
	justify-content: space-around;
	color: #222;
	width: 100vw;
	box-shadow: 0 5px 8px rgba(0,0,0,0.2)
}

header nav .logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 55px;
}

header nav .logo-meleo{
	cursor: pointer;
	width: 40px;
}

header nav h4{
	text-transform: uppercase;
	margin: 10px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #333;
}

header nav ul.main-menu{
	display: flex;
	list-style: none;
	justify-content: space-around;
	width: 50%;
	margin-top: 12px;
}

header nav ul.main-menu li.menu-items{
	position: relative;
}

header nav ul.main-menu li.menu-items:hover ul.main-menu-dropdown{
	opacity: 1;
	visibility: visible;	
}

header nav ul.main-menu ul.main-menu-dropdown{
	position: absolute;
	list-style: none;
	top:39px;
	left:-78px;
	display: flex;
	flex-direction: column;
	width: 210px;
	gap: 15px;
	padding: 10px;
	background-color: rgba(255,255,255,0.9);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease-in-out;
}

header nav ul.main-menu ul.main-menu-dropdown li{
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: #444;
}

/* Top Nav Bar List Bottom */
header nav ul.main-menu li.menu-items::after{
	content: '';
	display: block;
	width: 60%;
	height: 2px;
	margin: 2px auto;
	margin-bottom: -4px;
	background-color: #f00;
	transition: all 0.5s ease-in-out;
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
}

header nav ul.main-menu li.menu-items:hover::after{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

/* End of Top Nav Bar List Bottom */

header nav ul li a:hover{
	color: rgb(0,0,0);
}

header nav ul.main-menu ul.main-menu-dropdown li:hover{
	background-color: #ffd674;
}

header nav ul li a{
	text-decoration: none;
	color: #444;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: #444;
}

header nav .burger-menu{
	display: flex;
	height: 22px;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	display: none;
}

header nav .burger-menu input{
	position: absolute;
	width: 40px;
	height: 40px;
	opacity: 0;
	z-index: 1;
}

header nav .burger-menu span{
	display: block;
	width: 30px;
	height: 2px;
	border-radius: 3px;
	background-color: #54524d;
	transition: all 0.4s ease 0s;
}

header nav .burger-menu span:nth-child(2){
	transform-origin: 0 0;
}

header nav .burger-menu span:nth-child(4){
	transform-origin: 0 100%;
}

header nav .burger-menu input:checked ~ span:nth-child(2){
	transform: rotate(45deg) translate(0px, -2px);	
}

header nav .burger-menu input:checked ~ span:nth-child(3){
	transform: scale(0);	
}

header nav .burger-menu input:checked ~ span:nth-child(4){
	transform: rotate(-45deg) translate(-2px, 5px);	
}

/* Whatsapp Icon Sett Position */

section .container-wa-buttton-teks{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	z-index: 5;
	position: fixed;
	right: 4%;
	bottom: 9%;
}

section.wa-button-teks img{
	width: 50px;
	transition: all 0.5s ease;
}

section.wa-button-teks img:hover{
	transform: translateY(-5%);
}

section.wa-button-teks span{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 4px 15px 4px 15px;
	margin-right: 10px;
	border-radius: 5px;
	background-color: rgba(240, 240, 240, 0.7);
}

/* end of Whatsapp Icon Sett Position */

/* main image and spesification setting*/

main img{
	width: 400px;
	border-radius: 25px;
}

main ul.main-menu2{
	display: none;
}

main .containerboxkemasanbahankarton{
	width: 85%;
	margin: 50px auto;
	display: flex;
	flex-direction: row;  
}

/* Slide Image Position */
main .boxkemasanbahankarton-leftside-pos{
    position: absolute;
	width: 400px;
	height: 444.39px;
}

main .boxkemasanbahankarton-img img{
	display: none;
}

main .boxkemasanbahankarton-img.active img{
	display: block;
}

main .slide-left, main .slide-right{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	top: 42%;
	display: block;
	opacity: 0.5;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	font-size: 17px;
}

main .slide-left{
	left: 4%;
}

main .slide-right{
	right: 4%;
}

main .slide-left:hover, main .slide-right:hover{
	opacity: 1;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	transition: all 0.5s ease;
}

/* end of Slide Image Position */

.boxkemasankartonspecs{
	margin-left: 30px;;
}

.boxkemasankartonspecs h3{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #333;
}

.boxkemasankartonspecs p, a{
	font-family: 'Rubik', sans-serif;
	color: #666;
}

.boxkemasankartonspecs p.harga, p.detail-produk{
	color: #9b0101;
	font-size: 17px;
}

p.spec{
	margin-bottom: 45px;
}

.boxkemasankartonspecs a{
	padding: 15px 35px;
	border-radius: 10px;
	background-color: #9b0101;
	text-decoration: none;
	color: #eaeaea;
	transition: all 0.5s ease-in-out;
}

.boxkemasankartonspecs a:hover{
	color: #fff;
	background-color: #1f30d0;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}

.description{
	margin: 50px 0px 20px 0 ;
	padding: 10px;
	background-color: transparent;
	border: 2px solid #eaeaea;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

p.desc{
	color: #555;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	margin-bottom: -10px;
}

.notes{	
	color: #9b0101;
}

footer{
	width: 100vw;
	height: 50px;
	background-color: #24262b;
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

footer .footer-copyright{
	padding-top: 12px;
}

footer .footer-copyright a{
	color: #fff;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	
}

/* Media Query */

@media only screen and (max-width: 950px){
	main img{
		width: 350px;
		border-radius: 15px;
		margin-bottom: 30px;
		transition: all 0.3s ease-in-out;
		}
	
		main .containerboxkemasanbahankarton{
		width: 85%;
		display: flex;
		flex-direction: column;
		align-items: center;
		}
				
		main .slide-left, main .slide-right{
			top: 37%;
		}

		main .slide-left{
			left: 10%;
		}
		
		main .slide-right{
			right: 10%;
		}

		main .containerboxkemasanbahankarton .description{
		margin-left: -15px;	
		}

		footer{
			font-size: 12px;
		}
}

@media only screen and (max-width: 767px){

	.boxkemasankartonspecs{
		margin-left: 50px;
	}

	/* Image Responsive Setting for display max:767px*/
	main img{
	width: 400px;
	border-radius: 15px;
	margin-bottom: 30px;
	transition: all 0.3s ease-in-out;
	}

	main .containerboxkemasanbahankarton{
	width: 85%;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	}

	main .slide-left, main .slide-right{
		top: 42%;
	}

	main .slide-left{
		left: 5%;
	}
	
	main .slide-right{
		right: 5%;
	}
	
}

@media only screen and (max-width: 574px){

	header nav ul.main-menu{
		display: none;
	}

	header nav #burger-menu{
		width: 30px;
		height: 30px;
		background-color: transparent;
		cursor: pointer;
		position: relative;
		display: flex;
		justify-content: center;
	}

	header nav #burger-menu::before, #burger-menu::after{
		content: '';
		display: block;
		width: 28px;
		height: 2.2px;
		background-color: #333;
		position: absolute;
		border-radius: 2px;
		transition: all 0.3s ease;
	}

	header nav #burger-menu::before{
		transform: translateY(6px);
	}
	header nav #burger-menu::after{
		transform: translateY(14px);
		box-shadow: 0 8px 0 #333;
	}

	header nav #burger-menu.active::before{
		transform: translateY(13px) rotate(45deg);
	}

	header nav #burger-menu.active::after{
		transform: translateY(13px) rotate(-45deg);
		box-shadow: none;
	}

	main ul li{
		list-style: none;
		margin: 12px 0;
	}

	main ul.main-menu2{
		position: fixed;
		display: flex;
		flex-direction: column;
		z-index: 2;   	 	
		left: 0;
    	top: 47px;
    	width: 17rem;
		height: 100vh;
		background-color: #eaeaea;
		box-shadow: 6px 0 5px rgba(0,0,0,0.2);
		transform: translate(-100%);
		opacity: 0;
		transition: all 0.5s ease-in-out;
		overflow: scroll;
	}

	main ul li:first-child{
		margin-top: 25px;
	}

	main ul li a{
		text-decoration: none;
		color: #000;
	}

	main ul li.menu-items, li.menu-items2, li.menu-items3{
		position: relative;
		cursor: pointer;
		font-family: 'Rubik', sans-serif;
		font-weight: 500;
		font-size: 0.85rem;
	}
		
	main ul li i.fas{
		position: absolute;
		right: 27px;
		top: 2px;
		transition: all 0.3s ease-in-out;
	}
	
	main ul li ul.main-menu-dropdown2, ul.main-menu-dropdown3{
		display: none;
		font-weight: 400;		
	}

	main ul li ul.main-menu-dropdown2.show, ul.main-menu-dropdown3.show2{
		display: block;					
	}

	main ul li i.rotate{
		transform: rotate(-180deg);
	}
	
	main ul.active{
		transform: translate(0);
		opacity: 1;
	}

	section.slide-img .carousel-item{
	margin-top: 50px;
	border-bottom: 2.5px solid #ffbd1e;
	}

	section.product h4, 
	section.klien h4, 
	section.machine-img h4, 
	section.produced-goods h4{
	font-size: 18px;
	}

	.cards{
	grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
	justify-content: center;
	grid-gap: 12px;
	}

	footer.footer-end .container-footer h4{
	text-align: center;
	}

	footer.footer-end .footer-col{
	width: 100%;
	margin-bottom: -10px;
	text-align: center;
	}

	footer.footer-end .footer-bottom{
	border-top: 1px solid #f7e5bb;
	color: #eaeaea;
	font-size: 11px;
	padding: 15px 0 0 0;
	text-align: center
	}
}