@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.3;
}

.products, .client, .machine, .production {
  padding: 0px 10px;
}
@media only screen and (min-width: 780px) {
  .products, .client, .machine, .production {
    padding: 0px 30px;
  }
}
@media only screen and (min-width: 950px) {
  .products, .client, .machine, .production {
    padding: 0px 35px;
  }
}

header nav {
  display: flex;
  background-color: #ffbd1e;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  color: #222;
  position: fixed;
  width: 100vw;
  z-index: 5;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
header nav .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
}
header nav .logo h4 {
  text-transform: uppercase;
  margin: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #333;
}
header nav .logo .logo-meleo {
  cursor: pointer;
  width: 40px;
}
header nav ul.main-menu {
  display: none;
  justify-content: space-around;
  list-style: none;
  width: 500px;
  font-family: "Rubik", sans-serif;
}
header nav ul.main-menu a {
  text-decoration: none;
  color: #444;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
header nav ul.main-menu a:hover {
  color: #000000;
}
header nav ul.main-menu li.menu-items {
  position: relative;
}
header nav ul.main-menu li.menu-items ul.main-menu-dropdown {
  position: absolute;
  list-style: none;
  top: 37px;
  left: -78px;
  display: flex;
  flex-direction: column;
  width: 210px;
  gap: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
header nav ul.main-menu li.menu-items ul.main-menu-dropdown li {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #444;
}
header nav ul.main-menu li.menu-items ul.main-menu-dropdown li:hover {
  background-color: #ffbd1e;
}
header nav ul.main-menu li.menu-items:hover ul.main-menu-dropdown {
  opacity: 1;
  visibility: visible;
}
header nav ul.main-menu li.menu-items::after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  margin: 2px auto;
  margin-bottom: -4px;
  background-color: #f00;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}
header nav ul.main-menu li.menu-items:hover::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
header nav #burger-menu {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}
header nav #burger-menu::before, header nav #burger-menu::after {
  content: "";
  display: block;
  width: 28px;
  height: 2.2px;
  background-color: #333;
  position: absolute;
  border-radius: 2px;
  transition: all 0.3s ease;
}
header nav #burger-menu::before {
  transform: translateY(6px);
}
header nav #burger-menu::after {
  transform: translateY(14px);
  box-shadow: 0 8px 0 #333;
}
header nav #burger-menu.active::before {
  transform: translateY(13px) rotate(45deg);
}
header nav #burger-menu.active::after {
  transform: translateY(13px) rotate(-45deg);
  box-shadow: none;
}
@media only screen and (min-width: 780px) {
  header nav ul.main-menu {
    display: flex;
  }
  header nav #burger-menu {
    display: none;
  }
}

.slidemenu .main-menu2 {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 2;
  left: 0;
  top: 47px;
  width: 17rem;
  height: 100vh;
  background-color: #eaeaea;
  box-shadow: 6px 0 5px rgba(0, 0, 0, 0.2);
  transform: translate(-100%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.slidemenu .main-menu2 a, .slidemenu .main-menu2 ul li a {
  text-decoration: none;
  color: #333;
}
.slidemenu .main-menu2 li {
  padding-left: 2rem;
  list-style: none;
  margin: 12px 0;
}
.slidemenu .main-menu2 li.menu-items, .slidemenu .main-menu2 li.menu-items2, .slidemenu .main-menu2 li.menu-items3 {
  position: relative;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  color: #333;
}
.slidemenu .main-menu2 li:first-child {
  margin-top: 25px;
}
.slidemenu .main-menu2 li i.fas {
  position: absolute;
  right: 40px;
  top: 2px;
  transition: all 0.3s ease-in-out;
}
.slidemenu .main-menu2 .main-menu-dropdown2, .slidemenu .main-menu2 .main-menu-dropdown3 {
  display: none;
  font-weight: 400;
}
.slidemenu .main-menu2 .main-menu-dropdown2.show, .slidemenu .main-menu2 .main-menu-dropdown3.show2 {
  display: block;
}
.slidemenu .main-menu2 i.rotate {
  transform: rotate(-180deg);
}
.slidemenu .active {
  transform: translate(0);
  opacity: 1;
}
@media only screen and (min-width: 780px) {
  .slidemenu .active {
    transform: translate(-100%);
  }
}

.headproduct {
  position: relative;
  top: 50px;
}
.headproduct__slider__items .item.active {
  display: block;
}
.headproduct__slider__items .item.active img {
  width: 100%;
}
.headproduct__slider__items .item {
  display: none;
}
.headproduct__slider .left-slide, .headproduct__slider .right-slide {
  position: absolute;
  width: 25px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10%;
  top: 33%;
  text-align: center;
  line-height: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  box-shadow: 0 0 10px #000000;
  opacity: 0.5;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}
.headproduct__slider .left-slide {
  left: 20px;
}
.headproduct__slider .right-slide {
  right: 20px;
}
@media only screen and (min-width: 780px) {
  .headproduct__slider .left-slide, .headproduct__slider .right-slide {
    height: 55px;
    line-height: 55px;
    top: 40%;
  }
  .headproduct__slider .left-slide {
    left: 30px;
  }
  .headproduct__slider .right-slide {
    right: 30px;
  }
}
@media only screen and (min-width: 950px) {
  .headproduct__slider .left-slide, .headproduct__slider .right-slide {
    width: 30px;
    height: 70px;
    background-color: #ffffff;
    line-height: 70px;
    top: 40%;
  }
  .headproduct__slider .left-slide {
    left: 40px;
  }
  .headproduct__slider .right-slide {
    right: 40px;
  }
}
.headproduct__slider:hover .left-slide, .headproduct__slider:hover .right-slide {
  opacity: 0.65;
}

.productscaption, .clienscaption, .machinecaption, .productioncaption {
  position: relative;
  top: 44px;
  padding: 2px 2px;
  border-top: 2px solid #ffbd1e;
  border-bottom: 2px solid #ffbd1e;
}
@media only screen and (min-width: 950px) {
  .productscaption, .clienscaption, .machinecaption, .productioncaption {
    border-top: 3px solid #ffbd1e;
    border-bottom: 3px solid #ffbd1e;
  }
}
.productscaption__text h5, .clienscaption__text h5, .machinecaption__text h5, .productioncaption__text h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #444;
  font-size: 1rem;
  padding: 2px 0px;
}
@media only screen and (min-width: 780px) {
  .productscaption__text h5, .clienscaption__text h5, .machinecaption__text h5, .productioncaption__text h5 {
    font-size: 1.2rem;
    padding: 5px 0px;
  }
}
@media only screen and (min-width: 950px) {
  .productscaption__text h5, .clienscaption__text h5, .machinecaption__text h5, .productioncaption__text h5 {
    font-size: 1.33rem;
    padding: 5px 0px;
  }
}

.machinecaption {
  top: 60px;
}

.productioncaption {
  top: 80px;
}

.products {
  position: relative;
  top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.products__container {
  width: 137px;
  margin: 15px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px rgba(182, 179, 179, 0.7019607843);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 500px) {
  .products__container {
    width: 200px;
  }
}
@media only screen and (min-width: 780px) {
  .products__container {
    width: 250px;
  }
}
.products__container__items {
  text-align: center;
}
.products__container__items .img__item {
  width: 120px;
  margin-top: 10px;
}
@media only screen and (min-width: 500px) {
  .products__container__items .img__item {
    width: 170px;
  }
}
@media only screen and (min-width: 780px) {
  .products__container__items .img__item {
    width: 250px;
  }
}
.products__container .caption {
  padding: 0px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__container .caption h4, .products__container .caption h6 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #444;
  margin-bottom: 5px;
}
.products__container .caption h4 {
  font-size: 0.9rem;
  font-weight: 500;
}
@media only screen and (min-width: 780px) {
  .products__container .caption h4 {
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: 950px) {
  .products__container .caption h4 {
    font-size: 1.2rem;
  }
}
.products__container .caption h6 {
  font-size: 0.8rem;
  max-width: 160px;
  font-weight: 400;
}
@media only screen and (min-width: 780px) {
  .products__container .caption h6 {
    max-width: 210px;
    font-size: 0.9rem;
  }
}
.products__container .button-link {
  background-color: #ffbd1e;
  text-align: center;
  padding: 5px 0px;
}
.products__container .button-link a {
  text-decoration: none;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #444;
  font-size: 0.8rem;
}
@media only screen and (min-width: 780px) {
  .products__container .button-link a {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 950px) {
  .products__container .button-link a {
    font-size: 1rem;
  }
}
.products__container:hover {
  background-color: #cae1f8;
  box-shadow: 2px 2px 5px rgba(182, 179, 179, 0.7019607843);
}
.products__container:hover h4 {
  color: #2279cf;
}

.client {
  position: relative;
  top: 50px;
}
.client__item {
  margin: 10px auto;
}
.client__item__logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 60px);
  justify-items: center;
}
@media only screen and (min-width: 780px) {
  .client__item__logo {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 80px);
  }
}
@media only screen and (min-width: 950px) {
  .client__item__logo {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 80px);
  }
}
.client__item__logo img {
  width: 50px;
}
@media only screen and (min-width: 780px) {
  .client__item__logo img {
    width: 70px;
  }
}
.client__button {
  max-width: 80px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.client__button .button-client-left, .client__button .button-client-right {
  width: 26px;
  height: 26px;
  background-color: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;
}

.machine {
  position: relative;
  top: 70px;
}
.machine__item {
  margin: 10px auto;
}
@media only screen and (min-width: 950px) {
  .machine__item {
    max-width: 90%;
  }
}
.machine__item__img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 110px);
  justify-items: center;
}
@media only screen and (min-width: 780px) {
  .machine__item__img {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 140px);
  }
}
@media only screen and (min-width: 950px) {
  .machine__item__img {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 150px);
  }
}
.machine__item__img img {
  width: 100px;
  box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.2);
}
@media only screen and (min-width: 780px) {
  .machine__item__img img {
    width: 120px;
  }
}
@media only screen and (min-width: 950px) {
  .machine__item__img img {
    width: 135px;
  }
}
.machine__button {
  max-width: 80px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.machine__button .button-machine-left, .machine__button .button-machine-right {
  width: 26px;
  height: 26px;
  background-color: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;
}

.production {
  position: relative;
  top: 100px;
}
.production__item {
  margin: 10px auto;
}
@media only screen and (min-width: 950px) {
  .production__item {
    max-width: 90%;
  }
}
.production__item__img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 90px);
  justify-items: center;
}
@media only screen and (min-width: 780px) {
  .production__item__img {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 140px);
  }
}
@media only screen and (min-width: 950px) {
  .production__item__img {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 150px);
  }
}
.production__item__img img {
  width: 80px;
  box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.2);
}
@media only screen and (min-width: 780px) {
  .production__item__img img {
    width: 120px;
  }
}
@media only screen and (min-width: 950px) {
  .production__item__img img {
    width: 135px;
  }
}
.production__button {
  max-width: 80px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.production__button .button-production-left, .production__button .button-production-right {
  width: 26px;
  height: 26px;
  background-color: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;
}

.whatsapp__cta {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 1;
  position: fixed;
  right: 3%;
  bottom: 3%;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
}
.whatsapp__cta__btn a {
  display: flex;
}
.whatsapp__cta__btn a img {
  width: 45px;
  transition: all 0.5s ease;
}
.whatsapp__cta__btn img:hover {
  filter: drop-shadow(0px 0px 5px #999);
  transform: translateX(-5%);
}
.whatsapp__cta__teks {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #444;
  font-size: 14px;
  padding: 4px 15px 4px 15px;
  margin-right: 8px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.whatsapp .btn__close {
  opacity: 0;
  visibility: hidden;
}
.whatsapp__cls__btn::after, .whatsapp__cls__btn::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #999;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  z-index: 2;
}
.whatsapp__cls__btn::after {
  top: -12px;
  right: -2px;
  transform: translateY(13px) rotate(45deg);
}
.whatsapp__cls__btn::before {
  top: 1px;
  right: 11px;
  transform: translateX(13px) rotate(-45deg);
}
.whatsapp__cls__btn:hover::after, .whatsapp__cls__btn:hover::before {
  background-color: #940000;
}

.footer {
  position: relative;
  top: 130px;
  font-family: "Rubik", sans-serif;
  background-color: #222;
  padding: 22px 22px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo" "address" "contact" "ourproducts" "social" "copyright";
  gap: 30px 0;
  text-align: center;
}
@media only screen and (min-width: 780px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo logo" "address contact" "ourproducts social" "copyright copyright";
    padding: 30px 90px;
    gap: 10px 25px;
    text-align: left;
  }
}
@media only screen and (min-width: 950px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "logo logo logo logo" "address contact ourproducts social" "copyright copyright copyright copyright";
    gap: 30px 28px;
  }
}
.footer svg {
  width: 14px;
  fill: #ffbd1e;
  margin-right: 7px;
}
.footer .main-title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
@media only screen and (min-width: 780px) {
  .footer .main-title {
    justify-content: left;
  }
}
.footer .title {
  font-size: 1rem;
  color: #ffbd1e;
}
@media only screen and (min-width: 780px) {
  .footer .title {
    font-size: 1.1rem;
  }
}
.footer .title-desc {
  font-size: 0.9rem;
  line-height: 1.35rem;
  color: #999;
  margin-bottom: 15px;
}
@media only screen and (min-width: 780px) {
  .footer .title-desc {
    font-size: 0.95rem;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  line-height: 52px;
  grid-area: logo;
  justify-content: center;
}
@media only screen and (min-width: 780px) {
  .footer__logo {
    justify-content: left;
  }
}
.footer img {
  width: 52px;
  margin-right: 7px;
}
.footer h4 {
  color: #ffbd1e;
  font-weight: 400;
  font-size: 1.3rem;
}
.footer__address {
  grid-area: address;
}
.footer__contact {
  grid-area: contact;
}
@media only screen and (min-width: 950px) {
  .footer__contact {
    justify-self: right;
  }
}
.footer__contact svg {
  width: 18px;
}
.footer__ourproducts {
  grid-area: ourproducts;
}
@media only screen and (min-width: 950px) {
  .footer__ourproducts {
    justify-self: right;
  }
}
.footer__ourproducts .product-text {
  margin-bottom: 11px;
}
.footer__ourproducts .our-product li {
  list-style: none;
  transition: 300ms ease-in-out;
}
.footer__ourproducts .our-product li a {
  text-decoration: none;
  font-size: 0.85rem;
  line-height: 1.6rem;
  color: #999;
  text-transform: uppercase;
}
@media only screen and (min-width: 780px) {
  .footer__ourproducts .our-product li a {
    font-size: 0.85rem;
  }
}
.footer__ourproducts .our-product li:hover {
  transform: translateX(2px);
}
.footer__ourproducts .our-product li a:hover {
  text-decoration: underline;
  color: #ffbd1e;
}
.footer__social {
  grid-area: social;
  text-align: center;
}
@media only screen and (min-width: 780px) {
  .footer__social {
    text-align: left;
  }
}
@media only screen and (min-width: 950px) {
  .footer__social {
    text-align: center;
  }
}
.footer__copyright {
  position: relative;
  margin-top: 25px;
  grid-area: copyright;
  text-align: center;
}
.footer__copyright::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -12px;
  left: 0;
  height: 1px;
  background-color: #ffbd1e;
}
.footer__copyright p {
  color: #999;
  font-size: 0.8rem;
}
.footer__copyright p a {
  text-decoration: none;
  color: #ffbd1e;
}
@media only screen and (min-width: 780px) {
  .footer__copyright p {
    font-size: 0.9rem;
  }
  .footer__copyright p br {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */