// Fonts
$font-title: 'Rubik', sans-serif;

// Colors
$medium-yellow: #ffbd1e;
$light-yellow: #fff1c5;
$dark-black: #000000;
$medium-black: #222;
$dark-grey: #333;
$medium-grey: #444;
$light-grey: #999;
$verylight-grey: #b6b3b3b3;
$dark-red: #940000;
$dark-red2: #750000;
$medium-red: #f00;
$white: #ffffff;
$ocean-blue: #2279cf;
$light-blue: #cae1f8;

// Breakpoints
$breakpoints: (
	x-small: 400px,
	small: 500px,
	medium: 780px,
	large: 950px,
	x-large: 1240px,
);

@mixin breakpoint($size){
	$breakpoint-value: map-get($breakpoints, $size);

	@media only screen and (min-width: $breakpoint-value){
		@content;
	}
}